html{
    box-sizing: border-box;
  }
  *, *:after, *:before{
    box-sizing: inherit;
  }
  *{
    margin: 0;
    padding: 0;
    border: none;
  }

// colorsAssets
$title: #5020fd;
$subtitle:#1a1053;
$svg-background:#6236ff;
$number1:#f9345e;
$number2:#fa6400;
$number3:#1cb142;
$contentBgc:#f3f7fc;
// $contentBgc:#f9fcff;

$popping:'Poppins', sans-serif;

body{
    background-color: $contentBgc;
}
// outerSections
.outer_container{
    padding: 5em;
    display: flex;
    font-family: $popping;
        .right_section{
            width: 35%;
            // border: 1px solid red;
        }
        .left_section{
            width: 65%;
            // border: 1px solid red;
        }
}

// mainTitle
.title{
    font-size: 1.4em;
    margin-right: .5em;
    color: $title;
    font-weight: bold;
}
.subtitle{
    font-size: 1.2em;
    color: $subtitle;
    font-weight: bold;
}
.date{
    font-size: .7em;
    color:$subtitle;
    margin-left: .2em;
}

// globalCards
.global_container{
    margin: 3em 0;
    display: flex;
        .global_item{
        // width: 20%;
        text-align: center;
        margin: 0 1em;
        border-radius: 10px;
        padding:1.5em;
        cursor: pointer;
        background-color: #fff;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
            .global_title{
            font-size: .8em;
            margin-bottom: .3em;
            font-weight: bold
            };
            .global_data{
            font-size: 1.4em;
            font-weight: bold;
            }
            #gd-newconfirmed{color: $number1;}
            #gd-newdeaths{color: $number2;}
            #gd-totalcases{color: $number3;}
            #gd-totaldeath{color: $svg-background;}
        }
}

// bannerSection
.banner_container{
    background-color: $svg-background;
    border-radius: 20px;
    margin:6em 0;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        .banner_img{
            width: 20em;
            margin-top: -6em;
            margin-left: 2em;
            // transform: scaleX(-1);
        }
        .symtom_container{
            display: flex;
            justify-content: space-between;
            padding: 0em 4em 2em 2em;
            color: #e6e6e6;
                .arrow_link{
                font-size: 1.8em;
                    a{
                    text-decoration: none;
                    color: #e6e6e6;
                    }
                }
        }
}
