html {
  box-sizing: border-box;
}
*,
*:after,
*:before {
  box-sizing: inherit;
}
* {
  margin: 0;
  padding: 0;
  border: none;
}

// colorsAssets
$title: #5020fd;
$subtitle: #1a1053;
$svg-background: #6236ff;
$number1: #f9345e;
$number2: #fa6400;
$number3: #1cb142;
$number4: #4aabed;
$contentBgc: #f3f7fc;
// $contentBgc:#f9fcff;

$popping: "Poppins", sans-serif;

body {
  background-color: $contentBgc;
  overflow-x: none;
}
// outerSections
.outer_container {
  padding: 3em;
  display: flex;
  font-family: $popping;
  .right_section {
    width: 30%;
  }
  .left_section {
    width: 70%;
  }
}
@media(max-width:1390px){
  .outer_container{
    padding: 2em;
  }
}
// medisQueries
@media(max-width:1390px) {
  .outer_container{
    .right_section{width: 27%;}
    .left_section{width: 73%;}
  }
}
// mediaQuery1000
@media(max-width:1000px) {
  .outer_container{
    padding:1.5em
  }
}
// mainTitle
.title {
  font-size: 1.4em;
  margin-right: 0.5em;
  color: $title;
  font-weight: bold;
}
.subtitle {
  font-size: 1.2em;
  color: $subtitle;
  font-weight: bold;
}
.date {
  font-size: 0.7em;
  color: $subtitle;
  margin-left: 0.2em;
}

// globalCards
.global_container {
  margin: 2em 0;
  display: flex;
  .global_item {
    text-align: center;
    margin: 0em 1.2em;
    padding: 1.5em 1.7em;
    border-radius: 15px;
    background: linear-gradient(145deg, #eeeeee, #ffffff);
    box-shadow: 9px 9px 24px #cccccc, -9px -9px 24px #ffffff;
    cursor: pointer;

    .global_title {
      font-size: 0.8em;
      margin-bottom: 0.3em;
      font-weight: bold;
      color: #333;
    }
    .global_data {
      font-size: 1.4em;
      font-weight: bold;
    }
    #gd-newconfirmed {
      color: $number1;
    }
    #gd-newdeaths {
      color: $number2;
    }
    #gd-totalcases {
      color: $number3;
    }
    #gd-totaldeath {
      color: $svg-background;
    }
    #gd-totalrecovered {
      color: $number4;
    }
  }
}

// media Querie---1390
@media(max-width:1390px) {
  .global_container{
    .global_item{
      margin: 0em .9em;
      padding: 1.4em 1.6em;
        .global_data{
          font-size: 1.3em;
        }
        .global_title{
          font-size: .8em;
        }
    }
  }
}

// media Querie---1300
@media(max-width:1300px) {
  .global_container{
    .global_item{
      margin: 0em .7em;
      padding: 1em 1.4em;
        .global_data{
          font-size: 1.3em;
        }
        .global_title{
          font-size: .8em;
        }
    }
  }
}

// mediaQuery1210
@media(max-width:1210px){
  .global_container{
    .global_item{
      margin: 0em .6em;
      padding: 1em 1.4em;
        .global_data{
          font-size: 1.1em;
        }
        .global_title{
          font-size: .7em;
        }
    }
  }
}

// mediaQuery1115
@media(max-width:1115px) {
  .global_container{
    .global_item{
      margin: 0em .5em;
      padding: 1em 1.2em;
    }
  }
}
// mediaQuery1030
@media(max-width:1030px) {
  .global_container{
    .global_item{
      margin: 0em .4em;
      padding: 1em;
    }
  }
}
// mediaQuery950
@media(max-width:950px) {
  .global_container{
    .global_item{
      padding: 1em .9em;
        .global_data{
          font-size:1em
        }
        .global_title{
          font-size: .5em;
        }
    }
  }
}
// mediaQuery800
@media(max-width:800px) {
  .global_container{
    #recov{
      display: none;
    }
    .global_item{
      width: 20%;
    }
  }
}

// bannerSection
.banner_container {
  width: 100%;
  background-color: $svg-background;
  margin: 5em 0em 2em 0em;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  .banner_img {
    width: 20em;
    margin-top: -5em;
    margin-left: 2em;
  }
  .symtom_container {
    display: flex;
    justify-content: space-between;
    padding: 1em 3em 1em 2em;
    color: #e6e6e6;
    .arrow_link {
      font-size: 1.5em;
      a {
        text-decoration: none;
        color: #e6e6e6;
      }
    }
  }
}
// media Queries1390
  @media(max-width:1390px) {
    .banner_container {
      .banner_img {
        width: 17em;
        margin-top: -5em;
        margin-left: 2em;
      }
      .symtom_container {
        display: flex;
        justify-content: space-between;
        padding: 1em 3em 1em 2em;
        color: #e6e6e6;
        .symtom_text{
          font-size: .9em;
        }
        .arrow_link {
          font-size: 1.3em;
        }
      }
    }
  }
// mediaQuery1250
@media(max-width:1250px) {
  .banner_container{
    .banner_img{
      width: 15em;
    }
  }
}

// mediaQuery1150
@media(max-width:1150px) {
  .banner_container{
    .banner_img{
      width: 13em;
    }
    .symtom_container{
      .symtom_text{
        h3{
          font-size: 1em;
        }
        p{
          font-size: .8em;
        }
      }
      .arrow_link{
        font-size: .9em;
      }
    }
  }
}
// mediaQuery1115
@media(max-width:1115px) {
  .banner_container{
    .banner_img{
      width: 12em;
    }
  }
}

// mediaQuery1030
@media(max-width:1030px) {
  .banner_container{
    margin: 4em 0em 2em 0em;
    .banner_img{
      width: 10em;
      margin-top: -3em;
    }
  }
}
// mediaQuery950
@media(max-width:950px) {
  .banner_container{
    .symtom_container{
      padding: 1em 2em 1em 1em;
    }
  }
}
// mediaQuery800
@media(max-width:800px) {
  .banner_container{
    .symtom_container{
      .symtom_text{
        p{
          font-size: .7em;
        }
      }
    }
  }
}
// mediaQuery780
@media(max-width:780px) {
  .banner_container{
    .symtom_container{
      .symtom_text{
        h4{
          font-size: .7em;
        }
        p{
          font-size: .6em;
        }
      }
    }
  }
}
// irSection
.iran_container {
  border-radius: 21px;
  background: linear-gradient(145deg, #eeeeee, #ffffff);
  box-shadow: 9px 9px 24px #cccccc, -9px -9px 24px #ffffff;
  padding: 1em 1em .3em 1em;
  .iran_title {
    display: flex;
    justify-content: center;
    color: #333;
    .iran_img {
      width: 1em;
      height: 1em;
      border-radius: 9px;
      margin: 0.2em 0.5em;
    }
  }
  .today_container {
    display: flex;
    justify-content: space-around;
    margin: 1em 0;
    .today_cases,
    .today_deaths {
      text-align: center;
      cursor: pointer;
      .iran_case_title {
        font-weight: bold;
        color: #333;
      }
      .iran_case_data {
        font-weight: bold;
        color: $number2;
        margin-top: .7em;
      }
      .iran_death_title {
        font-weight: bold;
        color: #333;
      }
      .iran_death_data {
        font-weight: bold;
        color: $number1;
        margin-top: .7em;
      }
    }
  }
}
// mediaQueries1300
@media(max-width:1300px) {
  .iran_container{
    font-size: .9em;
  }
}

// mediaQuery1115
@media(max-width:1115px) {
  .iran_container{
    font-size: .8em;
  }
}
// mediaQuery950
@media(max-width:950px) {
  .iran_container{
    font-size: .7em;
  }
}
// mediaQuery780
@media(max-width:780px) {
  .iran_container{
    font-size: .6em;
  }
}

// ChartSection
.chart_container {
  margin: 2em 0;
  padding: 3em;
  border-radius: 25px;
  text-align: center;
  background: linear-gradient(145deg, #eeeeee, #ffffff);
  box-shadow: 9px 9px 24px #cccccc, -9px -9px 24px #ffffff;
    h4 {
      color: #333;
      margin: 1em 0;
    }
}

// mediaQueries1390
@media(max-width:1390px){
  .chart_container {
    padding: 2em;
  }
}

// mediaQuery1250px
@media(max-width:1250px) {
  .chart_container{
    padding: 1.5em;
      h4{
        font-size: .8em;
      }
  }
}
// mediaQuery1115
@media(max-width:1115px) {
  .chart_container{
    padding: 1.2em;
  }
}
// mediaQuery1030
@media(max-width:1030px) {
  .chart_container{
    padding: 1em;
    margin: 1.5em 0em;
  }
}
// mediaQuery900
@media(max-width:900px) {
  .chart_container{
    padding: .8em;
     h4{
       font-size: .6em;
     }
  }
}
// main_map section
.main_container {
  display: flex;
  justify-content: space-between;
  width: 93%;
  padding: 2em;
  border-radius: 25px;
  background: linear-gradient(145deg, #eeeeee, #ffffff);
  box-shadow: 9px 9px 24px #cccccc, -9px -9px 24px #ffffff;
  .map_container {
    width: 70%;
      iframe{
        height: 63vh;
      }
  }
  .list_container {
    width: 30%;
    overflow-y: scroll;
    height: 63vh;
    padding-right: 1em;
    #search_input {
      width: 100%;
      position: sticky;
      top: 0%;
      padding: 0.7em 2em;
      border-radius: 20px;
      font-family: $popping;
      color: #333;
      background-color: #e6e6e6;
    }
    #search_input:focus {
      outline: none;
    }

    .list_item {
      display: flex;
      padding: 0.7em;
      img {
        width: 1.5em;
        height: 1.5em;
        border-radius: 50%;
        margin: 0 0.5em;
      }
      .list_country_name {
        margin: 0 0.5em;
        font-size: 0.9em;
        color: #333;
        font-weight: bold;
      }
      .list_country_death {
        // margin: 0 .5em;
        font-size: 0.9em;
        color: rgb(105, 105, 105);
      }
    }
  }
}
// media Querie 1390
@media(max-width:1390px) {
.main_container{
  .list_container{
    .list_item{
      .list_country_name{
       font-size: .8em;
      }
    }
  }
}
}
// mediaQuery1250px
@media(max-width:1250px) {
  .main_container{
    width: 95%;
  }
}

// mediaQuery1115
@media(max-width:1115px) {
  .main_container{
    padding: 1.2em;
    .map_container{
      width: 75%;
    }
    .list_container{
      width: 25%;
      #search_input{
        padding: .5em 1.5em;
      }
      #search_input::placeholder{font-size: .8em;}
      .list_item{
        padding: .5em;
        img{
          width: 1.3em;
          height: 1.3em;
          margin: 0 .3em;
        }
        .list_country_name{
          margin: 0 .3em;
          font-size: .7em;
        }
        .list_country_death{
          font-size: .7em;
        }
      }
    }
  }
}

// media Querie 950
@media(max-width:950px) {
  .main_container{
    .list_container{
      .list_item{
        .list_country_name{
         font-size: .6em;
        }
        .list_country_death{
          font-size: .6em;
        }
      }
    }
  }
  }
// mediaQuery780
@media(max-width:780px) {
  .main_container{
    .list_container{
      .list_item{
        img{
          width: 1.1em;
          height: 1.1em;
          margin: 0 .2em;
        }
        .list_country_name{
          font-size: .5em;
        }
        .list_country_death{
          font-size: .5em;
        }
      }
    }
  }
}

// footerChartSection
.footer_chart_container {
    iframe{
      width: 93%;
      height: 630px;
      margin: 2em 0;
      border-radius: 25px;
      background: linear-gradient(145deg, #eeeeee, #ffffff);
      box-shadow: 9px 9px 24px #cccccc, -9px -9px 24px #ffffff;
      border: none;
    }
}
// mediaQuery1250px
@media(max-width:1250px) {
  .footer_chart_container{
    iframe{
      width: 95%;
    }
  }
}

// newsSection
.news_container {
  border-radius: 25px;
  background: linear-gradient(145deg, #eeeeee, #ffffff);
  box-shadow: 9px 9px 24px #cccccc, -9px -9px 24px #ffffff;
  padding: 1em;
  .news_title_container {
    display: flex;
    justify-content: center;
    margin-bottom: 0.5em;
    .live {
      background-color: red;
      padding: 0em 0.8em;
      border-radius: 25em;
      color: #fff;
      text-align: center;
      margin: 0 0.5em;
    }
    .update {
      color: #333;
      text-align: center;
    }
  }
  .news_content_container {
    display: flex;
    justify-content: space-between;
    .news_img {
      border-radius: 8px;
      width: 6em;
      height: 6em;
    }
    @media(max-width:1390px){
      .news_img{
         width: 5em;
        height: 5em;
      }
    }
    .news_content {
      padding: 0.5em 1em;
    }
    #news_title {
      text-decoration: none;
      font-size: 0.9em;
      font-weight: bold;
      color: #333;
      margin: 2em 0;
    }
    #news_text {
      text-decoration: none;
      font-size: 0.9em;
      color: rgb(87, 86, 86);
    }
  }
}

// mediaQuery1390
@media(max-width:1390px) {
  .news_container {
    .news_content_container {
      #news_title {
        font-size: 0.7em;
      }
      #news_text {
        font-size: 0.7em;
      }
    }
  }
}

// mediaQuery1250
@media(max-width:1250px) {
  .news_container{
    padding: .5em;
      .news_content_container{
        #news_text{
          font-size: .5em;
        }
      }
  }
}

// mediaQuery1115px 
@media(max-width:1115px) {
  .news_container{
    .news_content_container{
      .news_img{
        width: 3em;
        height: 3em;
        margin-top: 1em;
      }
    }
  }
}
// mediaQuery1030
@media(max-width:1030px) {
  .news_container{
    .news_title_container{
      font-size: .8em;
    }
  }
}
// mediaQuery930
@media(max-width:960px) {
  .news_container{
    .news_content{
      #news_title{
        font-size: .6em;
      }
      #news_text{
        letter-spacing: .1px;
        font-size: .4em;
      }
    }
  }
}
// mediaQuery780
@media(max-width:780px) {
  .news_container{
    padding: .7em;
    .news_content{
      #news_title{
        font-size: .5em;
      }
      #news_text{ 
        display: none;
      }
    }
  }
}

// rankingSection
.ranking_container {
  margin: 2em 0em;
  iframe {
    box-shadow: -1px -1px 1px #e6e6e6;
    border-radius: 25px 5px 5px 25px;
    background: linear-gradient(145deg, #eeeeee, #ffffff);
    box-shadow: 9px 9px 24px #cccccc, -9px -9px 24px #ffffff;
  }
}
